{% include 'style.html.twig' %}

<div class="g5i">
    <h1>
        <span class="g5-title">{{ name }} Template Updated</span>
        <span class="g5-info">v{{ version }} / <span class="g5-info-date">{{ date }}</span></span>
    </h1>

    <div class="g5-actions">
        <a href="{{ edit_url }}" class="btn btn-success config-layout"><span class="g5-icon icon-cogs"></span> Configure {{ name }}</a>
    </div>

    <div class="joomlead-info">
        Carefully crafted by <a href="https://joomlead.com" target="_blank">JoomLead</a>. Hi-quality Joomla Templates & Gantry 5 Particles
    </div>
</div>
