{% extends '@nucleus/partials/particle.html.twig' %}
{% import '@particles/macros_helper.html.twig' as Macros %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ url('gantry-theme://css/jluikit-form.min.css') }}" type="text/css" />
{% if particle.particle_title_color or particle.particle_title_fontsize or particle.form_style in ['danger', 'success'] or (particle.parallax_image and particle.container_maxwidth == 'custom' and particle.bg_container_width is not empty) %}
<style>
{%- if particle.particle_title_color or particle.particle_title_fontsize -%}#el-{{ id }}.g5-title{ {{ particle.particle_title_color ? 'color:' ~ particle.particle_title_color ~ ';' : '' }}{{ particle.particle_title_fontsize ? 'font-size:' ~ particle.particle_title_fontsize ~ 'px;' : '' }} }{% endif %}
{%- if particle.form_style == 'danger' -%}.{{ id }} .jl-form-danger,.{{ id }} .jl-form-danger:focus{color:#f0506e;border-color:#f0506e;}{% endif %}
{%- if particle.form_style == 'success' -%}.{{ id }} .jl-form-success,.{{ id }} .jl-form-success:focus{color:#32d296;border-color:#32d296;}{% endif %}
{%- if particle.parallax_image and particle.container_maxwidth == 'custom' and particle.bg_container_width is not empty -%}#{{ id }}-particle .g-container{max-width:{{ particle.bg_container_width|e }};}{% endif %}
</style>
{% endif %}
{% endblock %}

{% block javascript %}
{% if (particle.animation == 'parallax' or particle.bg_image_effect == 'parallax') %}
    <script src="{{ url('gantry-theme://js/jlcomponents/parallax.min.js') }}"></script>
{% endif %}
{% endblock %}

{% set particle_classes = [
    id,
    particle.g_maxwidth != 'inherit' ? 'jl-width-' ~ particle.g_maxwidth ~ (particle.g_maxwidth_breakpoint != 'always' ? '@' ~ particle.g_maxwidth_breakpoint : '') ~ (particle.g_maxwidth_alignment == 'center' ? ' jl-margin-auto' : (particle.g_maxwidth_alignment == 'right' ? ' jl-margin-auto-left' : '')) : '',
    particle.align != 'inherit' ? 'jl-text-' ~ particle.align ~ (particle.breakpoint != 'always' ? '@' ~ particle.breakpoint ~ (particle.fallback != 'inherit' ? ' jl-text-' ~ particle.fallback : '') : '') : '',
    particle.animation == 'parallax' and particle.pa_z_index ? 'jl-position-z-index jl-position-relative' : '',
    particle.animation == 'parallax' and particle.parallax_transform_origin != 'center-center' ? 'jl-transform-origin-' ~ particle.parallax_transform_origin : '',
    particle.margin != 'inherit' ? (particle.margin != 'default' ? 'jl-margin-' ~ particle.margin : 'jl-margin') : '',
    particle.visibility != 'inherit' ? (particle.visibility in ['s', 'm', 'l', 'xl'] ? 'jl-visible@' ~ particle.visibility : 'jl-' ~ particle.visibility|replace({'-': '@'})) : '',
    particle.class|default('')
] | filter(v => v)|join(' ')|trim %}

{% set attr_extra = particle.extra|attribute_array %}

{% block particle %}
{% if particle.enabled %}
{{- Macros.parallax_open(particle, id)|raw }}
{{ Macros.particle_title_style(particle, id)|raw }}
<div id="{{ id }}" class="{{ particle_classes }}"{{ Macros.animation_render(particle)|raw }} {{- attr_extra|raw }}>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="business" value="{{particle.email}}">
    <input type="hidden" name="cmd" value="_donations">
    <input type="hidden" name="item_name" value="{{particle.name}}">
    <input type="hidden" name="item_number" value="{{particle.campaign}}">
    <input type="hidden" name="currency_code" value="{{particle.currency}}">
    {% if particle.fixedamount %}
      <input type="hidden" name="amount" value="{{ particle.fixedamount|e }}">
    {% endif %}
    {% set currency_symbols = {'USD': '$', 'GBP': '£', 'JPY': '¥', 'EUR': '€'} %}
    {% set currency = currency_symbols[particle.currency]|default(particle.currency|e) %}

    <div class="jl-form-controls jl-margin" jl-margin>
      {% if particle.button_left %}
        <button class="jl-button jl-button-{{particle.buttonclass}}{% if particle.button_size != 'default' %} jl-button-{{particle.button_size|e}}{% endif %}{% if particle.fullwidth == '1' %} jl-width-1-1{% endif %}" type="submit" name="submit">{{particle.donate_button}}</button>
      {% endif %}
      <div jl-form-custom="target: true">
        {% if particle.icon_sign %}
          <span class="jl-form-icon" aria-hidden="true"><i class="{{ particle.icon_sign|e }}" aria-hidden="true"></i></span>
        {% endif %}
        {% if particle.fixedamount != '' %}
          <input class="jl-input jl-form-width-medium{% if particle.form_style != 'default' %} jl-form-{{particle.form_style}}{% endif %}{% if particle.button_size != 'default' %} jl-form-{{particle.button_size|e}}{% endif %}" type="text" placeholder="{{currency}} {{particle.fixedamount}}" disabled>
        {% else %}
          <input class="jl-input jl-form-width-medium{% if particle.form_style != 'default' %} jl-form-{{particle.form_style}}{% endif %}{% if particle.button_size != 'default' %} jl-form-{{particle.button_size|e}}{% endif %}" type="text" placeholder="Enter Amount ({{currency}})" name="amount" />
          <input type="hidden" name="amount" value="{{particle.fixedamount}}"/>
        {% endif %}
      </div>
      {% if not particle.button_left %}
        <button class="jl-button jl-button-{{particle.buttonclass}}{% if particle.button_size != 'default' %} jl-button-{{particle.button_size|e}}{% endif %}{% if particle.fullwidth == '1' %} jl-width-1-1{% endif %}" type="submit" name="submit">{{particle.donate_button}}</button>
      {% endif %}
    </div>
  </form>
</div>
{{- Macros.parallax_close(particle)|raw }}
{% endif %}
{% endblock %}

